<!DOCTYPE html>
<html lang="en">
<head>
	<title>Buff tim</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://chimbuom.us/favicon.ico">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<div class="login100-form validate-form">
					<span class="login100-form-title p-b-70">
						<!-- Nhập Dãy Số 5 Lần Để Lấy Zalo Em ạ -->
					</span>
					<span class="login100-form-avatar">
						<img src="https://gaubong.us/images/smileys/user/rongbaby/bd25.gif" alt="AVATAR">
                    </span>
                    <form method="POST" action="/">
                    <div class="mt-5 text-center " style="color: #900;">
                       <img src="/images/<%=image%>" alt="" width="200px">
					</div>
					<div class="mt-5 text-center " style="color: #900;">
						<% if(number){ %>
							Đúng  <%=number%> Lần Rồi Ạ ! Cố Lên Anh
						<% } %>
						
					 </div>
					<div class="wrap-input100 validate-input m-t-30 m-b-35" data-validate = "Tài Khoản" >
						<input class="input100" type="text" name="captcha" placeholder="Nhập Dãy Số " id="username">
						<span class="focus-input100" ></span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn btn-donate" type="submit">
							Nhận Tim
						</button>
					</div>
                    </form>
					<ul class="login-more p-t-190">
						<li class="text-center">
                           Vui Lòng Liên Hệ : <a href="https://www.facebook.com/nam.havan.37051579">Facebook</a>
                        </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="js/donateaccount.js" ></script>
<% if(message){
		if(message=='success'){ %>
			<script>
				Swal.fire({
				position: 'top-end',
				icon: 'success',
				title: 'Cảm Ơn Anh Ạ .Cố Lên Ạ',
				showConfirmButton: false,
				timer: 2500
				})
			</script>
	<%	} else  if(message=='error'){ %>
		<script>
				Swal.fire({
				position: 'top-end',
				icon: 'error',
				title: 'Anh Nhập Sai Rồi Ạ',
				showConfirmButton: false,
				timer: 2500
				})
		</script>

	<%}
} %>
<% 
	if(number==5){ %>
		<script>
				Swal.fire({
				position: 'top-end',
				icon: 'success',
				title: 'Zalo Em Ạ 0961289147',
				showConfirmButton: false,
				timer: 3500
				})
		</script>
	<%}
%>
</html>